<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
        <a href="@photoclick??" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600"><img src="@photolink??" alt="Task Master" style="width:150px;height:50px;"></a>
    </div>
    <p style="font-size:1.1em">Hi @name??,</p>
    <span>Thank you for Placing your request.</span><br/>
	<span>Your Request details:</span>
	
	<hr style="border:none;border-top:1px solid #000000" />
	<div style="background:#eaeaea;padding:8px 0;padding-left:10px;padding-right:10px; color:#000000;font-size:1.0em;line-height:1;font-weight:300">

    @bookingdetails??
	
    </div>
	<hr style="border:none;border-top:1px solid #000000" />
     <p style="font-size:0.9em;">Regards,<br />@signature??</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        @address??
    </div>
  </div>
</div>